﻿@page "{RoleId:int=0}"
@using Comet.Web.App.Services
@inject LanguageService Language;
@model Comet.Web.App.Areas.Panel.Pages.Admin.RoleModel
@{
    ViewData["title"] = Language.GetString("RoleManagement");
}

<div class="container youplay-news">
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-sm btn-primary" asp-area="Panel" asp-page="/Admin/Roles">@Language.GetString("GoBack")</a>
            <div class="form-horizontal mt-30 mb-40">
                <div class="form-group">
                    <label class="control-label col-sm-3" for="cur_password">#:</label>
                    <div class="col-sm-9">
                        <div class="youplay-input">
                            <input type="text" value="@Model.Role.Id" readonly>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="new_password">@Language.GetString("Name"):</label>
                    <div class="col-sm-9">
                        <div class="youplay-input">
                            <input type="text" value="@Model.Role.Name" readonly>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="new_password">@Language.GetString("NormalizedName"):</label>
                    <div class="col-sm-9">
                        <div class="youplay-input">
                            <input type="text" value="@Model.Role.NormalizedName" readonly>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="new_password">@Language.GetString("CreationDate"):</label>
                    <div class="col-sm-9">
                        <div class="youplay-input">
                            <input type="datetime" value="@Model.Role.CreationDate.ToString("yyyy-MM-ddTHH:mm:ss")" readonly>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="new_password">@Language.GetString("ModifiedDate"):</label>
                    <div class="col-sm-9">
                        <div class="youplay-input">
                            <input type="datetime" value="@Model.Role.ModifiedDate?.ToString("yyyy-MM-ddTHH:mm:ss")" readonly>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 table-responsive">
            <h2>@Language.GetString("RoleClaims")</h2>
            <div class="youplay-input youplay-select">
                <select id="claimSelect">
                    <option value=""></option>
                    @foreach (var claim in Model.Claims.Where(x => !x.Key.Equals(Security.Claims.Super.ToString())))
                    {
                        <option value="@claim.Key">@Language.GetString(claim.Value.ToPermissionString())</option>
                    }
                </select>
            </div>
            <table id="tblRoleClaims" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>@Language.GetString("Name")</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <div class="col-md-6">
            <h2>@Language.GetString("RoleUsers")</h2>
            
            <div class="form-horizontal mt-30 mb-40">
                <div class="form-group">
                    <label class="control-label col-sm-3" for="cur_password">@Language.GetString("UserIdentity"):</label>
                    <div class="col-sm-9">
                        <div class="youplay-input">
                            <input id="txtUserIdentity" type="number" placeholder="@Language.GetString("AddUserToRoleFromIdentity")">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="new_password">@Language.GetString("UserName"):</label>
                    <div class="col-sm-9">
                        <div class="youplay-input">
                            <input id="txtUserName" type="text" placeholder="@Language.GetString("AddUserToRoleFromUserName")">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-3" for="new_password">@Language.GetString("Email"):</label>
                    <div class="col-sm-9">
                        <div class="youplay-input">
                            <input id="txtUserEmail" type="email" placeholder="@Language.GetString("AddUserToRoleFromEmail")">
                        </div>
                    </div>
                </div>

                <button id="btnAddUser" class="btn btn-success">@Language.GetString("AddUser")</button>
            </div>

            <table id="tblRoleUsers" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>@Language.GetString("Name")</th>
                        <th>@Language.GetString("UserName")</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts
{
<script>

    function loadUsersForRole() {
        $.ajax({
            url: '@Url.Action("GetUsersByRole", "Roles")',
            type: 'GET',
            data: {
                roleId: @Model.RoleId,
                page: 0,
                ipp: 10
            },
            success: function (result) {

                let table = document.getElementById('tblRoleUsers');
                let body = table.tBodies[0];

                $(body).empty();

                if (result.length) {
                    for (let idx = 0; idx < result.length; idx++)
                    {
                        let row = body.insertRow();
                        row.insertCell().innerHTML = result[idx].id;
                        row.insertCell().innerHTML = result[idx].name;
                        row.insertCell().innerHTML = result[idx].userName;
                        row.insertCell().innerHTML = `<i onclick="removeUserFromRole(@Model.RoleId, ${result[idx].id}, $(this).parent().parent())" class="fa fa-close text-danger" title="Remover"></i>`;
                    }
                }
                else {
                    let cell = body.insertRow().insertCell();
                    cell.colSpan = 4;
                    cell.innerHTML = '@Language.GetString("NoData")';
                }

            }
        });
    }

    function loadClaimsForRole() {
        $.ajax({
            url: '@Url.Action("GetClaimsByRole", "Roles")',
            type: 'GET',
            data: {
                roleId: @Model.RoleId
            },
            success: function (result) {

                let table = document.getElementById('tblRoleClaims');
                let body = table.tBodies[0];

                $(body).empty();

                if (result.length) {
                    for (let idx = 0; idx < result.length; idx++)
                    {
                        let row = body.insertRow();
                        row.insertCell().innerHTML = result[idx].claimName;
                        row.insertCell().innerHTML = `<i onclick="removeClaimFromRole(${result[idx].roleId}, '${result[idx].claimType}', $(this).parent().parent());" class="fa fa-close text-danger" title="Remover"></i>`;
                    }
                }
                else {
                    let cell = body.insertRow().insertCell();
                    cell.colSpan = 3;
                    cell.innerHTML = '@Language.GetString("NoData")';
                }

                enableRoleSelect();
            }
        });
    }

    function enableRoleSelect() {
        $('#claimSelect>option').each(function() {
            $(this).show();
        });

        $('#claimSelect>option').each(function() {
            if (this.textContent === '')
                return;

            let option = $(this);
            let currentClaim = this.textContent;

            $('#tblRoleClaims>tbody>tr').each(function() {
                if (this.cells.length > 1 && this.cells[1].textContent === currentClaim) {
                    $(option).hide();
                    return false;
                }
            });
        });
    }

    function removeClaimFromRole(idRole, claimType, row) {        
        $.ajax({
            url: '@Url.Action("DeleteClaimFromRole", "Roles")',
            type: 'DELETE',
            headers: {
                'Content-Type': 'application/json'
            },
            data: JSON.stringify({
                roleId: idRole,
                claimType: `${claimType}`
            }),
            success: function(result) {
                $(row).remove();
                enableRoleSelect();
            },
            error: function(result) {
            }
        });
    }

    function removeUserFromRole(idRole, userId, row) {
        $.ajax({
            url: '@Url.Action("DeleteUserFromRole", "Roles")',
            type: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            data: JSON.stringify({
                userId,
                userName: '',
                email: '',
                roleId: idRole
            }),
            success: function(result) {
                $(row).remove();
            },
            error: function(result) {
            }
        });
    }

    $('#claimSelect').change(function(){
        if (this.value === '')
            return;

        $.ajax({
            url: '@Url.Action("SetClaimToRole", "Roles")',
            type: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            data: JSON.stringify({
                roleId: @Model.Role.Id,
                claimType: `${this.value}`
            }),
            success: function(result) {
                loadClaimsForRole();
            },
            error: function(result) {
                alert(result);
            }
        });
    });

    $('#btnAddUser').click(function() {
        
        let userId = 0;
        let userName = '';
        let email = '';
        const roleId = @Model.RoleId;

        if ($('#txtUserIdentity').val() !== '') {
            userId = Number($('#txtUserIdentity').val());
        }
        else if ($('#txtUserName').val() !== '') {
            userName = $('#txtUserName').val();
        }
        else if ($('#txtUserEmail').val() !== '') {
            email = ('#txtUserEmail').val();
        }

        if (userId === 0 && userName === '' && email === '') {
            alert('@Language.GetString("MustSetAtLeast1SearchParameter")');
            return;
        }

        let data = {
            userId,
            userName,
            email,
            roleId
        }

        $.ajax({
            type: 'POST',
            url: '@Url.Action("SetUserOnRole", "Roles")',
            headers: {
                'Content-Type': 'application/json'
            },
            data: JSON.stringify(data),
            success: function(result) {
                loadUsersForRole();

                $('#txtUserName').val('');
                $('#txtUserEmail').val('');
                $('#txtUserIdentity').val('');
            },
            error: function(result) {

            }
        });
    });
    
    $('#txtUserIdentity').change(function() {
        $('#txtUserName').val('');
        $('#txtUserEmail').val('');
    });

    $('#txtUserName').change(function() {
        $('#txtUserIdentity').val('');
        $('#txtUserEmail').val('');
    });

    $('#txtUserEmail').change(function() {
        $('#txtUserIdentity').val('');
        $('#txtUserName').val('');
    });

    $(document).ready(function() {
        loadClaimsForRole();
        loadUsersForRole();
    });

</script>
}