﻿@page
@using Comet.Web.App.Services
@inject LanguageService Language
@model AccessDeniedModel
@{
    ViewData["Title"] = Language.GetString("AccessDenied");
}

<section class="youplay-banner banner-top youplay-banner-parallax full">
    <div class="image" data-speed="0.4">
        <img src="~/assets/images/parallax/shaolin2_1920x1200.jpg" alt="" class="jarallax-img">
    </div>
    <div class="info">
        <div>
            <div class="container">
                <div class="text-center">
                    <h2 class="h1">403</h2>
                    <h3>@Language.GetString("AccessDeniedMessage") ;(</h3>
                </div>
            </div>
        </div>
    </div>
</section>