﻿@page
@using Comet.Web.App.Services
@inject LanguageService Language
@model LoginModel

@{
    ViewData["Title"] = Language.GetString("SignIn");
}

<section class="youplay-banner banner-top youplay-banner-parallax full">
    <div class="image" data-speed="0.4">
        <img src="~/assets/images/parallax/shaolin2_1920x1200.jpg" alt="" class="jarallax-img">
    </div>
    <div class="info">
        <div>
            <div class="container">
                <div class="youplay-login">
                    <div class="youplay-form text-center">
                        <h2>Conecte-se</h2>
                        <div class="btn-group social-list dib">
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn @provider.Class" name="provider" style="width: 75px; margin-right: 10px;"
                                        value="@provider.Name" title="@Language.GetString("Sigin3rdPartyAccount", provider.DisplayName)">
                                        <i class="@provider.Icon" aria-hidden="true"></i>
                                    </button>
                                }
                            </form>
                        </div>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <form id="account" method="post">
                            <div class="youplay-input">
                                <input type="text" asp-for="Input.UserName" placeholder="@Language.GetString("UserName")" autocomplete="off">
                            </div>
                            <div class="youplay-input">
                                <input type="password" asp-for="Input.Password" placeholder="@Language.GetString("Password")">
                            </div>

                            <div class="youplay-checkbox mb-15 ml-5">
                                <input asp-for="Input.RememberMe">
                                <label asp-for="Input.RememberMe">@Language.GetString(Html.DisplayNameFor(m => m.Input.RememberMe))</label>
                            </div>

                            <button class="btn btn-default db">Login</button>

                            <div class="form-group">
                                <p>
                                    <a id="forgot-password" asp-page="./ForgotPassword">@Language.GetString("ForgotYourPassword")</a>
                                </p>
                                <p>
                                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">@Language.GetString("RegisterAsNewUser")</a>
                                </p>
                                <p>
                                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">@Language.GetString("ResendConfirmationEmail")</a>
                                </p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
