﻿@page
@using Comet.Web.App.Services
@inject LanguageService Language
@model LoginWith2faModel
@{
    ViewData["Title"] = "Two-factor authentication";
}


<section class="youplay-banner banner-top youplay-banner-parallax full">
    <div class="image" data-speed="0.4">
        <img src="~/assets/images/parallax/shaolin2_1920x1200.jpg" alt="" class="jarallax-img">
    </div>
    <div class="info">
        <div>
            <div class="container">
                <div class="youplay-login">
                    <div class="youplay-form text-center">
                        <h3>@ViewData["Title"]</h3>
                        <hr />
                        <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
                            <input asp-for="RememberMe" type="hidden" />
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Input.TwoFactorCode"></label>
                                <input asp-for="Input.TwoFactorCode" class="form-control" autocomplete="off" />
                                <span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="checkbox">
                                    <label asp-for="Input.RememberMachine">
                                        <input asp-for="Input.RememberMachine" />
                                        @Html.DisplayNameFor(m => m.Input.RememberMachine)
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-default">Log in</button>
                            </div>
                        </form>
                        <p>
                            Don't have access to your authenticator device? You can
                            <a asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl">log in with a recovery code</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}