﻿@page
@using Comet.Web.App.Services
@inject LanguageService LanguageManager
@model RegisterModel
@{
    ViewData["Title"] = LanguageManager.GetString("RegisterPage");
}

<section class="youplay-banner banner-top youplay-banner-parallax full">
    <div class="image" data-speed="0.4">
        <img src="~/assets/images/parallax/shaolin2_1920x1200.jpg" alt="" class="jarallax-img">
    </div>
    <div class="info">
        <div>
            <div class="container">
                <div class="youplay-login">
                    <div class="youplay-form text-center">
                        <h3>@ViewData["Title"]</h3>

                        <hr>
                        <h4>Use another service to register.</h4>
                        <div class="btn-group social-list dib">
                            <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn @provider.Class" name="provider" style="width: 75px; margin-right: 10px;"
                                        value="@provider.Name" title="@LanguageManager.GetString("Sigin3rdPartyAccount", provider.DisplayName)">
                                        <i class="@provider.Icon" aria-hidden="true"></i>
                                    </button>
                                }
                            </form>
                        </div>

                        <hr />
                        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <h5>Informações de Conexão</h5>
                            <div class="youplay-input">
                                <input asp-for="Input.UserName" placeholder="@LanguageManager.GetString("UserName")" autocomplete="off">
                            </div>
                            <div class="youplay-input">
                                <input asp-for="Input.Email" placeholder="@LanguageManager.GetString("Email")" autocomplete="off">
                            </div>
                            <div class="youplay-input">
                                <input asp-for="Input.Password" placeholder="@LanguageManager.GetString("Password")" autocomplete="new-password">
                            </div>
                            <div class="youplay-input">
                                <input asp-for="Input.ConfirmPassword" placeholder="@LanguageManager.GetString("ConfirmPassword")" autocomplete="new-password">
                            </div>
                            <h5>@LanguageManager.GetString("SecurityRecoveryAccount")</h5>
                            <div class="youplay-input">
                                <input asp-for="Input.SecurityCode" placeholder="@LanguageManager.GetString("SecurityCode")" autocomplete="off">
                            </div>
                            <div class="youplay-input youplay-select">
                                <select asp-for="Input.SecurityQuestion">
                                    @foreach (var question in Model.SecurityQuestions)
                                    {
                                        <option value="@question.Key">@LanguageManager.GetString(question.Value)</option>
                                    }
                                </select>
                            </div>
                            <div class="youplay-input">
                                <input asp-for="Input.SecurityAnswer" placeholder="@LanguageManager.GetString("SecurityAnswer")" autocomplete="off">
                            </div>
                            <h5>@LanguageManager.GetString("PersonalInformation")</h5>
                            <div class="youplay-input">
                                <input asp-for="Input.RealName" placeholder="@LanguageManager.GetString("RealName")" autocomplete="off">
                            </div>
                            <div class="youplay-input">
                                <input asp-for="Input.Birthday" placeholder="@LanguageManager.GetString("Birthday")" autocomplete="off">
                            </div>
                            <div class="youplay-input">
                                <input asp-for="Input.Phone" placeholder="@LanguageManager.GetString("Phone")" autocomplete="off">
                            </div>
                            <div class="youplay-input youplay-select">
                                <select asp-for="Input.Language">
                                    @foreach (var question in Model.AvailableLanguages)
                                    {
                                        <option value="@question.Key">@question.Value</option>
                                    }
                                </select>
                            </div>
                            <button class="btn btn-default db">@LanguageManager.GetString("Register")</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
