﻿@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<section class="youplay-banner banner-top youplay-banner-parallax full">
    <div class="image" data-speed="0.4">
        <img src="~/assets/images/parallax/shaolin2_1920x1200.jpg" alt="" class="jarallax-img">
    </div>
    <div class="info">
        <div>
            <div class="container">
                <div class="youplay-login">
                    <div class="youplay-form text-center">
                        <h3>@ViewData["Title"]</h3>
                        <hr />
                        <p>
                            Please check your email to confirm your account.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="youplay-banner banner-top youplay-banner-parallax full">
    <div class="image" data-speed="0.4">
        <img src="~/assets/images/parallax/shaolin2_1920x1200.jpg" alt="" class="jarallax-img">
    </div>
    <div class="info">
        <div>
            <div class="container">
                <div class="youplay-login">
                    <div class="youplay-form text-center">
                        <h3>@ViewData["Title"]</h3>
                        <hr />
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>