﻿@page "{UserName}"
@using Comet.Web.App.Services
@inject LanguageService Language
@model Comet.Web.App.Areas.Profile.Pages.IndexModel
@{
    ViewData["title"] = Language.GetString("ProfileTitle", Model.Profile.UserName);
}

@await Html.PartialAsync("_ProfileHeader", Model.Profile)

<div class="container youplay-content">
    <div class="row">
        <div class="col-md-9">
            <h3 class="mt-0 mb-20">@Model.Profile.Name</h3>
            <h3 class="mt-40 mb-20">@Language.GetString("PersonalInformation")</h3>
            <table class="table table-bordered" aria-hidden="true">
                <tbody>
                    @if (Model.Profile.PersonalInfo.Count > 0)
                    {
                        foreach (var info in Model.Profile.PersonalInfo)
                        {
                            <tr>
                                <td>@Language.GetString($"{info.Key}")</td>
                                <td>@info.Value</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="2" class="text-center">@Language.GetString("NothingToShare")</td>
                        </tr>
                    }
                </tbody>
            </table>
            <h3 class="mt-40 mb-20">@Language.GetString("ContactInformation")</h3>
            <table class="table table-bordered" aria-hidden="true">
                <tbody>
                    @if (Model.Profile.ContactInfo.Count > 0)
                    {
                        foreach (var info in Model.Profile.ContactInfo)
                        {
                            <tr>
                                <td>@Language.GetString($"{info.Key}")</td>
                                <td>@info.Value</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="2" class="text-center">@Language.GetString("NothingToShare")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- Right Side -->
        <div class="col-md-3">
            <div class="side-block">
                <h4 class="block-title">@Language.GetString("AboutMe")</h4>
                <div class="block-content"> Ecce dabo Pinkman Isai OK? Sicut locutus est tibi, et datus est, et hic sine Semper consequat volumus ... et ille in urbe ista licet? Et infernus, ubi tu non Virginiae ornare vel ipsum. Ut enim Albuquerque et ille eum iure hic, et ego ducam te ad iustitiam. </div>
            </div>
        </div>
        <!-- Right Side -->
    </div>
</div>