﻿@using Comet.Web.App.Areas.Profile.Models
@using Comet.Web.App.Services
@inject LanguageService Language
@model ProfileModel
<!-- Banner -->
<section class="youplay-banner banner-top youplay-banner-parallax small">
    <div class="image" data-speed="0.4">
        <img src="@Href(Model.BackgroundImage)" alt="" class="jarallax-img">
    </div>
    <div class="youplay-user-navigation">
        <div class="container">
            <ul>
                <li><a href="#">@Language.GetString("Activity")</a></li>
                <li class="active"><a href="#">@Language.GetString("Profile")</a></li>
                @if (Model.LoadedByOwner)
                {
                    <li><a href="#">@Language.GetString("Messages") <span class="badge">0</span></a></li>
                    <li><a href="#">@Language.GetString("Settings")</a></li>
                }
                <li><a href="#">@Language.GetString("Groups")</a></li>
                <li><a href="#">@Language.GetString("Forums")</a></li>
            </ul>
        </div>
    </div>
    <div class="info">
        <div>
            <div class="container youplay-user">
                <a href="@Href(Model.ProfileImage)" class="angled-img image-popup">
                    <div class="img">
                        <img src="@Href(Model.ProfileImage)" alt="">
                    </div>
                    <i class="fa fa-search-plus icon"></i>
                </a>
                <div class="user-data">
                    <h2>@Model.UserName</h2>
                    <div class="location"><i class="fa fa-users"></i> @Model.Title</div>
                    <div class="activity">
                        <div>
                            <div class="num">@Model.CommentCount</div>
                            <div class="title">@Language.GetString("Posts")</div>
                        </div>
                        <div>
                            <div class="num">@Model.Reputation</div>
                            <div class="title">@Language.GetString("Reputation")</div>
                        </div>
                    </div>
                </div>
            </div>
            @if (!Model.LoadedByOwner)
            {
                <div class="container mt-20">
                    @if (Model.IsFriend)
                    {
                        <a href="#" class="btn btn-sm btn-default ml-0">@Html.Raw(Language.GetString("RemoveFriend"))</a>
                    }
                    else
                    {
                        <a href="#" class="btn btn-sm btn-default ml-0">@Html.Raw(Language.GetString("AddFriend"))</a>
                    }
                    <a href="#" class="btn btn-sm btn-default">@Html.Raw(Language.GetString("PrivateMessage"))</a>
                    <a href="#" class="btn btn-sm btn-default">@Html.Raw(Language.GetString("ReportPlayer"))</a>
                </div>
            }
        </div>
    </div>
</section>
<!-- /Banner -->