﻿@using Comet.Web.App.Services
@using System.Security.Claims
@inject LanguageService LanguageManager
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["title"] - World Conquer</title>
    <meta name="description" content="@LanguageManager.GetString("HeaderDescription")">
    <meta name="keywords" content="world, conquer, online, conquer online, game, server, private, pirata, conquer 5065, conquer online 5065, patch 5065, zfserver, cqserver, zf, cq, elitepvpers, ftw masters, ftw, masters, net, net core, core">
    <meta name="author" content="FTW! Masters">
    <link rel="icon" type="image/png" href="~/assets/images/icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="google-signin-client_id" content="896235637960-b1tf0mehtncprcq9fioialju1kp9jvgj.apps.googleusercontent.com">

    <!-- START: Styles -->
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="~/assets/vendor/bootstrap/dist/css/bootstrap.min.css" />
    <!-- Flickity -->
    <link rel="stylesheet" href="~/assets/vendor/flickity/dist/flickity.min.css" />
    <!-- Magnific Popup -->
    <link rel="stylesheet" href="~/assets/vendor/magnific-popup/dist/magnific-popup.css" />
    <!-- Revolution Slider -->
    <link rel="stylesheet" href="~/assets/vendor/slider-revolution/css/settings.css">
    <link rel="stylesheet" href="~/assets/vendor/slider-revolution/css/layers.css">
    <link rel="stylesheet" href="~/assets/vendor/slider-revolution/css/navigation.css">
    <!-- Bootstrap Sweetalert -->
    <link rel="stylesheet" href="~/assets/vendor/bootstrap-sweetalert/dist/sweetalert.css" />
    <!-- Social Likes -->
    <link rel="stylesheet" href="~/assets/vendor/social-likes/dist/social-likes_flat.css" />
    <!-- FontAwesome -->
    <script defer src="~/assets/vendor/fontawesome-free/js/all.js"></script>
    <script defer src="~/assets/vendor/fontawesome-free/js/v4-shims.js"></script>
    <!-- Youplay -->
    <link rel="stylesheet" href="~/assets/css/youplay.css">
    
    @if (LanguageManager.CurrentCulture.Rtl)
    {
        <link rel="stylesheet" href="~/assets/css/youplay-rtl.min.css" />
    }
    
    <!-- Custom Styles -->
    <link rel="stylesheet" href="~/assets/css/custom.css">
    <!-- END: Styles -->
    <!-- jQuery -->
    <script src="~/assets/vendor/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <!-- Preloader -->
    <div class="page-preloader preloader-wrapp">
        <img src="/assets/images/logo-light.png" alt="">
        <div class="preloader"></div>
    </div>
    <!-- /Preloader -->
    <!-- Navbar -->
    <nav class="navbar-youplay navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="off-canvas" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img src="@Href("~/assets/images/logo-light.png")" alt="">
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class=" dropdown dropdown-hover">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            @LanguageManager.GetString("MenuHome") <span class="caret"></span>
                            <span class="label">@LanguageManager.GetString("MenuHomeDesc")</span>
                        </a>
                        <div class="dropdown-menu">
                            <ul role="menu">
                                @if (!User.Identity.IsAuthenticated)
                                {
                                    <li>
                                        <a asp-area="" asp-page="/Register"> @LanguageManager.GetString("MenuRegister") </a>
                                    </li>
                                }
                                <li>
                                    <a asp-area="" asp-page="/Downloads"> @LanguageManager.GetString("MenuDownloads") </a>
                                </li>
                                <li>
                                    <a href="#"> @LanguageManager.GetString("MenuAboutUs") </a>
                                </li>
                                <li>
                                    <a href="#"> @LanguageManager.GetString("MenuContactUs") </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class=" dropdown dropdown-hover">
                        <a href="blog-1.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            @LanguageManager.GetString("MenuShopSales") <span class="caret"></span>
                            <span class="label">@LanguageManager.GetString("MenuShopSalesDesc")</span>
                        </a>
                        <div class="dropdown-menu">
                            <ul role="menu">
                                <li>
                                    <a asp-area="Shop" asp-page="/Index"> @LanguageManager.GetString("MenuShop") </a>
                                </li>
                                <li>
                                    <a asp-area="Shop" asp-page="/Cart"> @LanguageManager.GetString("MenuCart") </a>
                                </li>
                            </ul>
                            <ul role="menu">
                                <li>
                                    <a asp-area="Store" asp-page="/Index"> @LanguageManager.GetString("MenuSpendCredits") </a>
                                </li>
                                <li>
                                    <a asp-area="Store" asp-page="/Rewards"> @LanguageManager.GetString("MenuRewards") </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class=" dropdown dropdown-hover">
                        <a href="blog-1.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            @LanguageManager.GetString("MenuStatistics") <span class="caret"></span>
                            <span class="label">@LanguageManager.GetString("MenuStatisticsDesc")</span>
                        </a>
                        <div class="dropdown-menu">
                            <ul role="menu">
                                <li>
                                    <a asp-area="Ranking" asp-page="/Index" asp-route-ServerName="All" asp-route-RankType="Players">@LanguageManager.GetString("TopPlayers")</a>
                                </li>
                                <li>
                                    <a asp-area="Ranking" asp-page="/Index" asp-route-ServerName="All" asp-route-RankType="Warrior">@LanguageManager.GetString("TopWarrior")</a>
                                </li>
                                <li>
                                    <a asp-area="Ranking" asp-page="/Index" asp-route-ServerName="All" asp-route-RankType="WaterTaoist">@LanguageManager.GetString("TopWaterTaoist")</a>
                                </li>
                                <li>
                                    <a asp-area="Ranking" asp-page="/Index" asp-route-ServerName="All" asp-route-RankType="Moneybag">@LanguageManager.GetString("TopMoneybag")</a>
                                </li>
                                <li>
                                    <a asp-area="Ranking" asp-page="/Index" asp-route-ServerName="All" asp-route-RankType="GuildWarWinners">@LanguageManager.GetString("TopGuildWarWinners")</a>
                                </li>
                                <li>
                                    <a asp-area="Ranking" asp-page="/Index" asp-route-ServerName="All" asp-route-RankType="Superman">@LanguageManager.GetString("TopSuperman")</a>
                                </li>
                            </ul>
                            <ul role="menu">
                                <li>
                                    <a asp-area="Ranking" asp-page="/Index" asp-route-ServerName="All" asp-route-RankType="Trojan">@LanguageManager.GetString("TopTrojan")</a>
                                </li>
                                <li>
                                    <a asp-area="Ranking" asp-page="/Index" asp-route-ServerName="All" asp-route-RankType="Archer">@LanguageManager.GetString("TopArcher")</a>
                                </li>
                                <li>
                                    <a asp-area="Ranking" asp-page="/Index" asp-route-ServerName="All" asp-route-RankType="FireTaoist">@LanguageManager.GetString("TopFireTaoist")</a>
                                </li>
                                <li>
                                    <a asp-area="Ranking" asp-page="/Index" asp-route-ServerName="All" asp-route-RankType="Syndicate">@LanguageManager.GetString("TopSyndicate")</a>
                                </li>
                                <li>
                                    <a asp-area="Ranking" asp-page="/Index" asp-route-ServerName="All" asp-route-RankType="Noble">@LanguageManager.GetString("TopNoble")</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class=" dropdown dropdown-hover">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            @LanguageManager.GetString("MenuHelp") <span class="caret"></span>
                            <span class="label">@LanguageManager.GetString("MenuHelpDesc")</span>
                        </a>
                        <div class="dropdown-menu">
                            <ul role="menu">
                                <li>
                                    <a asp-area="News" asp-page="/Index">@LanguageManager.GetString("MenuNews")</a>
                                </li>
                                <li>
                                    <a asp-area="Guides" asp-page="/Index"> @LanguageManager.GetString("MenuGuides") </a>
                                </li>
                                <li>
                                    <a href="https://ftwmasters.com.br/forum" target="_blank" rel="noopener"> @LanguageManager.GetString("MenuForum") </a>
                                </li>
                                <li>
                                    <a href="https://worldconqueronline.tawk.help" target="_blank" rel="noopener"> @LanguageManager.GetString("MenuHelpDesk") </a>
                                </li>
                                <li>
                                    <a asp-area="Support" asp-page="/Index">@LanguageManager.GetString("MenuTickets")</a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class=" dropdown dropdown-hover">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                @LanguageManager.GetString("MenuUser") <span class="caret"></span>
                                <span class="label">@LanguageManager.GetString("MenuUserDesc")</span>
                            </a>
                            <div class="dropdown-menu">
                                <ul role="menu">
                                    <li>
                                        <a asp-area="Panel" asp-page="/User/Accounts"> @LanguageManager.GetString("MenuAccounts") </a>
                                    </li>
                                    <li>
                                        <a asp-area="Panel" asp-page="/User/BindVip"> @LanguageManager.GetString("BindVip") </a>
                                    </li>
                                    <li>
                                        <a asp-area="Panel" asp-page="/User/RestoreCharacters"> @LanguageManager.GetString("RestoreCharacters") </a>
                                    </li>
                                </ul>
                                <ul role="menu">
                                    <li>
                                        <a asp-area="Panel" asp-page="/User/Purchases">@LanguageManager.GetString("MenuPurchases")</a>
                                    </li>
                                    <li>
                                        <a asp-area="Panel" asp-page="/User/BillingInformation">@LanguageManager.GetString("BillingInformation")</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class=" dropdown dropdown-hover">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                @User.FindFirst(ClaimTypes.Name).Value @*<span class="badge bg-default">8</span>*@
                                <span class="caret"></span>
                                <span class="label">@LanguageManager.GetString(User.FindFirst(ClaimTypes.Role)?.Value)</span>
                            </a>
                            <div class="dropdown-menu">
                                <ul role="menu">
                                    <li>
                                        <a asp-area="Profile" asp-page="/Index" asp-route-UserName="@User.FindFirst(ClaimTypes.Name).Value"> @LanguageManager.GetString("Profile") </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            @LanguageManager.GetString("Messages") @*<span class="badge bg-default">8</span>*@
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#"> @LanguageManager.GetString("Settings") </a>
                                    </li>
                                    <li>
                                        <a href="#" onclick="doLogout();"> @LanguageManager.GetString("Logout") </a>
                                        <script>
                                            function doLogout() {
                                                event.preventDefault();
                                                $("#logoutForm").submit();
                                            }
                                        </script>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    }

                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li class="dropdown dropdown-hover dropdown-user">
                            <a asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Context.Request.Path" role="button" aria-expanded="true">
                                <i class="fa fa-user" aria-hidden="true"></i> @LanguageManager.GetString("Login")
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <!-- /Navbar -->

    <div class="content-wrap">
        @RenderBody()

        <!-- Partners -->
        <section class="youplay-banner youplay-banner-parallax small mt-80">
            <div class="image" data-speed="0.4">
                <img class="jarallax-img" src="~/assets/images/parallax/warnin1_1400x875.jpg" alt="">
            </div>
            <div class="info align-center">
                <div>
                    <h2 class="mb-40">Parceiros</h2>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <div class="youplay-carousel youplay-carousel-size-6" data-autoplay="6000" data-arrows="false" data-stage-padding="0">
                                <a href="https://s-and-s-websites.com" target="_blank" rel="noopener">
                                    <img src="~/assets/images/partners/partner-simon-logo.png" alt="">
                                </a>
                                <a href="https://www.elitepvpers.com" target="_blank" rel="noopener">
                                    <img src="~/assets/images/partners/epvp-logo.png" alt="">
                                </a>
                                <a href="https://cooldown.dev" target="_blank" rel="noopener">
                                    <img src="~/assets/images/partners/cooldown-logo.svg" style="width: 180px; height: 120px;" alt="">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Partners -->

        <!-- Features -->
        <h2 class="container h1">Por que jogar conosco?</h2>
        <section class="youplay-features container">
            <div class="col-md-3 col-sm-6">
                <a class="feature angled-bg" href="#">
                    <i class="fa fa-server"></i>
                    <h4>Servidores</h4>
                    <small>Servidores Certificados com qualidade Azure Microsoft.</small>
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="feature angled-bg">
                    <i class="fa fa-code"></i>
                    <h4>Desenvolvimento</h4>
                    <small>Servidores desenvolvidos em .NET 5.</small>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="feature angled-bg">
                    <i class="fa fa-layer-group"></i>
                    <h4>Lançamento Beta</h4>
                    <small>Servidor sendo adaptado para melhor diverti-los.</small>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">
                <div class="feature angled-bg">
                    <i class="fa fa-users"></i>
                    <h4>Comunidade</h4>
                    <small>Grande comunidade desde sendo construída desde 2013.</small>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <footer class="youplay-footer">
            <div class="wrapper">
                <!-- Widgets -->
                <div class="widgets">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="side-block">
                                    <div class="block-content text-justify">
                                        <img src="~/assets/images/logo.png" alt="">
                                        <br><br>
                                        @Html.Raw(LanguageManager.GetString("FooterGameDesc"))
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <!-- Side Popular News -->
                                <div class="side-block">
                                    <h4 class="block-title">Acesso Rápido</h4>
                                    <div class="block-content p-0">
                                        <p class="text-center">
                                            <!-- Begin XtremeTop100 code -->
                                            <a href="http://www.xtremetop100.com/in.php?site=1132361298">
                                                <img src="~/assets/images/votenew.jpg" border="0" alt="private server">
                                            </a>
                                            <!-- End XtremeTop100 code -->
                                        </p>
                                    </div>
                                </div>
                                <!-- /Side Popular News -->
                            </div>
                            <div class="col-md-3">
                                <div class="side-block">
                                    <h4 class="block-title">Serviços</h4>
                                    <div class="block-content">
                                        <p>
                                            <a id="changeCookiesPreference" href="#">@LanguageManager.GetString("ChangeCookiesPreference")</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <!-- Instagram -->
                                <div class="side-block">
                                    <h4 class="block-title">Fale Conosco</h4>
                                    <p>@Html.Raw(LanguageManager.GetString("FooterMailTo", "service@ftwmasters.com.br", "service@ftwmasters.com.br"))</a></p>
                                    <p>@Html.Raw(LanguageManager.GetString("FooterDiscord", "https://discord.gg/DqVDkTU"))</p>
                                </div>
                                <!-- /Instagram -->
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Widgets -->
                <!-- Copyright -->
                <div class="copyright">
                    <div class="container">
                        <p>2021 &copy; <strong>FTW! Masters</strong>. @LanguageManager.GetString("FooterSomeRightsReserved")</p>
                        <p>
                            <a asp-area="" asp-page="/TermsOfUse">@LanguageManager.GetString("TermsOfUse")</a>
                            | <a asp-area="" asp-page="/Privacy">@LanguageManager.GetString("TermsOfPrivacy")</a>
                            | <a asp-area="" asp-page="/RefundPolicy">@LanguageManager.GetString("RefundPolicy")</a>
                        </p>
                    </div>
                </div>
                <!-- /Copyright -->
            </div>
        </footer>
        <!-- /Footer -->
        <form method="post" id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Href("~/")">
            <input type="hidden" name="whoops" value="0" />
        </form>
    </div>

    <!-- START: Scripts -->

    <!-- Object Fit Polyfill -->
    <script src="~/assets/vendor/object-fit-images/dist/ofi.min.js"></script>
    <!-- jQuery -->
    <script src="~/assets/vendor/jquery/dist/jquery.min.js"></script>
    <!-- Hexagon Progress -->
    <script src="~/assets/vendor/HexagonProgress/jquery.hexagonprogress.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/assets/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Jarallax -->
    <script src="~/assets/vendor/jarallax/dist/jarallax.min.js"></script>
    <!-- Flickity -->
    <script src="~/assets/vendor/flickity/dist/flickity.pkgd.min.js"></script>
    <!-- jQuery Countdown -->
    <script src="~/assets/vendor/jquery-countdown/dist/jquery.countdown.min.js"></script>
    <!-- Moment.js -->
    <script src="~/assets/vendor/moment/min/moment.min.js"></script>
    <script src="~/assets/vendor/moment-timezone/builds/moment-timezone-with-data.min.js"></script>
    <!-- Magnific Popup -->
    <script src="~/assets/vendor/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <!-- Revolution Slider -->
    <script src="~/assets/vendor/slider-revolution/js/jquery.themepunch.tools.min.js"></script>
    <script src="~/assets/vendor/slider-revolution/js/jquery.themepunch.revolution.min.js"></script>
    <!-- ImagesLoaded -->
    <script src="~/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <!-- Isotope -->
    <script src="~/assets/vendor/isotope-layout/dist/isotope.pkgd.min.js"></script>
    <!-- Bootstrap Validator -->
    <script src="~/assets/vendor/bootstrap-validator/dist/validator.min.js"></script>
    <!-- Bootstrap Sweetalert -->
    <script src="~/assets/vendor/bootstrap-sweetalert/dist/sweetalert.min.js"></script>
    <!-- Social Likes -->
    <script src="~/assets/vendor/social-likes/dist/social-likes.min.js"></script>
    <!-- Youplay -->
    <script src="~/assets/js/youplay.min.js"></script>
    <script src="~/assets/js/youplay-init.js"></script>

    <!-- Cookie Consent by https://www.CookieConsent.com -->
    <script type="text/javascript" src="//www.cookieconsent.com/releases/4.0.0/cookie-consent.js" charset="UTF-8"></script>
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded',
            function() {
                cookieconsent.run({ "notice_banner_type": "interstitial", "consent_type": "express", "palette": "dark", "language": "pt", "cookies_policy_url": "https://ftwmasters.com.br/privacy", "website_name": "World Conquer Online", "change_preferences_selector": "#changeCookiesPreference" });
            });
    </script>

    <script src="~/assets/vendor/gasparesganga-jquery-loading-overlay/dist/loadingoverlay.min.js"></script>
    <script>

        $.LoadingOverlaySetup({
            background      : 'rgba(0, 0, 0, 0.5)',
            image           : '@Href("~/assets/images/logo.png")',
            imageAnimation  : '1.5s fadein',
            imageAutoResize : false
        });

        $(document).ajaxStart(function (){
            $.LoadingOverlay('show');
            $('.loadingoverlay_element').css('width', '323px');
            $('.loadingoverlay_element').css('height', '116px');
        }).ajaxStop(function () {
            $.LoadingOverlay('hide', false);
        }).ajaxError(function() {
            $.LoadingOverlay('hide', false);
        });
    </script>

    <script src="https://apis.google.com/js/platform.js" async defer></script>

    @await RenderSectionAsync("Scripts", false)
</body>
</html>