﻿<section class="youplay-banner banner-top youplay-banner-parallax small">
    <div class="image" data-speed="0.4">
        <img src="~/assets/images/parallax/archer_1920x1200.jpg" alt="" class="jarallax-img">
    </div>
    <div class="info">
        <div>
            <div class="container">
                <h1 class="h1">@ViewData["Title"]</h1>
            </div>
        </div>
    </div>
</section>